packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/vbc.rsp
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/vbc.exe.config
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/vbc.exe
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/csi.rsp
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/csi.exe.config
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/csi.exe
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/csc.rsp
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/csc.exe.config
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/csc.exe
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/VBCSCompiler.exe.config
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/VBCSCompiler.exe
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.Xml.XmlDocument.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.Xml.XPath.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.Xml.XPath.XDocument.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.Xml.ReaderWriter.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.ValueTuple.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.Console.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.Collections.Immutable.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.AppContext.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/Microsoft.VisualBasic.Core.targets
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/Microsoft.Managed.Core.targets
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/Microsoft.DiaSymReader.Native.x86.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/Microsoft.DiaSymReader.Native.amd64.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/Microsoft.CodeAnalysis.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/Microsoft.CodeAnalysis.VisualBasic.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/Microsoft.CodeAnalysis.Scripting.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/Microsoft.CodeAnalysis.CSharp.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/Microsoft.CodeAnalysis.CSharp.Scripting.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/Microsoft.CSharp.Core.targets
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/Microsoft.Build.Tasks.CodeAnalysis.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/vbc.rsp
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/vbc.exe.config
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/vbc.exe
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/csi.rsp
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/csi.exe
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/Microsoft.CodeAnalysis.VisualBasic.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/Microsoft.CodeAnalysis.Scripting.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/Microsoft.CodeAnalysis.CSharp.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/Microsoft.CodeAnalysis.CSharp.Scripting.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/Microsoft.CSharp.Core.targets
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/Microsoft.Build.Tasks.CodeAnalysis.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/content/net46/web.config.uninstall.xdt
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/content/net46/web.config.install.xdt
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/content/net46/app.config.uninstall.xdt
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/content/net46/app.config.install.xdt
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/content/net45/web.config.uninstall.xdt
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/content/net45/web.config.install.xdt
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/content/net45/app.config.uninstall.xdt
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/content/net45/app.config.install.xdt
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/build/net46/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/build/net46/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.Extensions.props
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/build/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/build/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.Extensions.props
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0.nupkg
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/.signature.p7s
.vs/config/applicationhost.config
.vs/WebForm/v15/Server/sqlite3/storage.ide-wal
.vs/WebForm/v15/Server/sqlite3/storage.ide-shm
.vs/WebForm/v15/Server/sqlite3/storage.ide
.vs/WebForm/v15/Server/sqlite3/db.lock
.vs/WebForm/v15/.suo
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/net45/uninstall.ps1
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/net45/install.ps1
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.Text.Encoding.CodePages.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.Security.Principal.Windows.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.Security.Cryptography.X509Certificates.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.Security.Cryptography.Primitives.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.Security.Cryptography.Encoding.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.Security.Cryptography.Algorithms.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.Security.Claims.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.Security.AccessControl.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.Reflection.Metadata.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.IO.Pipes.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.IO.Pipes.AccessControl.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.IO.FileSystem.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.IO.FileSystem.Primitives.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.IO.Compression.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.Diagnostics.StackTrace.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/RoslynLatest/System.Diagnostics.FileVersionInfo.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/csc.rsp
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/csc.exe.config
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/csc.exe
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/VBCSCompiler.exe.config
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/VBCSCompiler.exe
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/System.Reflection.Metadata.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/System.IO.FileSystem.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/System.IO.FileSystem.Primitives.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/System.Diagnostics.StackTrace.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/System.Collections.Immutable.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/System.AppContext.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/Microsoft.VisualBasic.Core.targets
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/Microsoft.DiaSymReader.Native.x86.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/Microsoft.DiaSymReader.Native.amd64.dll
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0/tools/Roslyn45/Microsoft.CodeAnalysis.dll
WebForm/Bin/roslyn/csi.exe.refresh
WebForm/Bin/roslyn/csi.exe.config
WebForm/Bin/roslyn/csi.exe
WebForm/Bin/roslyn/csc.rsp
WebForm/Bin/roslyn/csc.exe.refresh
WebForm/Bin/roslyn/csc.exe.config
WebForm/Bin/roslyn/csc.exe
WebForm/Bin/roslyn/VBCSCompiler.exe.refresh
WebForm/Bin/roslyn/VBCSCompiler.exe.config
WebForm/Bin/roslyn/VBCSCompiler.exe
WebForm/Bin/roslyn/System.Xml.XmlDocument.dll.refresh
WebForm/Bin/roslyn/System.Xml.XmlDocument.dll
WebForm/Bin/roslyn/System.Xml.XPath.dll.refresh
WebForm/Bin/roslyn/System.Xml.XPath.dll
WebForm/Bin/roslyn/System.Xml.XPath.XDocument.dll.refresh
WebForm/Bin/roslyn/System.Xml.XPath.XDocument.dll
WebForm/Bin/roslyn/System.Security.Cryptography.Primitives.dll.refresh
WebForm/Bin/roslyn/System.Security.Cryptography.Primitives.dll
WebForm/Bin/roslyn/System.Security.Cryptography.Encoding.dll.refresh
WebForm/Bin/roslyn/System.Security.Cryptography.Encoding.dll
WebForm/Bin/roslyn/System.Security.Cryptography.Algorithms.dll.refresh
WebForm/Bin/roslyn/System.Security.Cryptography.Algorithms.dll
WebForm/Bin/roslyn/System.Security.Claims.dll.refresh
WebForm/Bin/roslyn/System.Security.Claims.dll
WebForm/Bin/roslyn/System.Security.AccessControl.dll.refresh
WebForm/Bin/roslyn/System.Security.AccessControl.dll
WebForm/Bin/roslyn/System.Reflection.Metadata.dll.refresh
WebForm/Bin/roslyn/System.Reflection.Metadata.dll
WebForm/Bin/roslyn/System.IO.Pipes.dll.refresh
WebForm/Bin/roslyn/System.IO.Pipes.dll
WebForm/Bin/roslyn/System.IO.Pipes.AccessControl.dll.refresh
WebForm/Bin/roslyn/System.IO.Pipes.AccessControl.dll
WebForm/Bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll.refresh
WebForm/Bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
WebForm/Bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll.refresh
WebForm/Bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
WebForm/Bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll.refresh
WebForm/Bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
WebForm/Bin/roslyn/Microsoft.CSharp.Core.targets
WebForm/Bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll.refresh
WebForm/Bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
WebForm/Bin/office.xml
WebForm/Bin/office.dll
WebForm/Bin/Microsoft.Vbe.Interop.dll
WebForm/Bin/Microsoft.Office.Interop.Excel.xml
WebForm/Bin/Microsoft.Office.Interop.Excel.dll.refresh
WebForm/Bin/Microsoft.Office.Interop.Excel.dll
WebForm/Bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
WebForm/Bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll.refresh
WebForm/Bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
WebForm/ajax.htm
WebForm/Bin/roslyn/vbc.rsp
WebForm/Bin/roslyn/vbc.exe.refresh
WebForm/Bin/roslyn/vbc.exe.config
WebForm/Bin/roslyn/vbc.exe
WebForm/Bin/roslyn/csi.rsp
WebForm/Bin/roslyn/System.Xml.ReaderWriter.dll.refresh
WebForm/Bin/roslyn/System.Xml.ReaderWriter.dll
WebForm/Bin/roslyn/System.ValueTuple.dll.refresh
WebForm/Bin/roslyn/System.ValueTuple.dll
WebForm/Bin/roslyn/System.Text.Encoding.CodePages.dll.refresh
WebForm/Bin/roslyn/System.Text.Encoding.CodePages.dll
WebForm/Bin/roslyn/System.Security.Principal.Windows.dll.refresh
WebForm/Bin/roslyn/System.Security.Principal.Windows.dll
WebForm/Bin/roslyn/System.Security.Cryptography.X509Certificates.dll.refresh
WebForm/Bin/roslyn/System.Security.Cryptography.X509Certificates.dll
WebForm/Bin/roslyn/System.IO.FileSystem.dll.refresh
WebForm/Bin/roslyn/System.IO.FileSystem.dll
WebForm/Bin/roslyn/System.IO.FileSystem.Primitives.dll.refresh
WebForm/Bin/roslyn/System.IO.FileSystem.Primitives.dll
WebForm/Bin/roslyn/System.IO.Compression.dll.refresh
WebForm/Bin/roslyn/System.IO.Compression.dll
WebForm/Bin/roslyn/System.Diagnostics.StackTrace.dll.refresh
WebForm/Bin/roslyn/System.Diagnostics.StackTrace.dll
WebForm/Bin/roslyn/System.Diagnostics.FileVersionInfo.dll.refresh
WebForm/Bin/roslyn/System.Diagnostics.FileVersionInfo.dll
WebForm/Bin/roslyn/System.Console.dll.refresh
WebForm/Bin/roslyn/System.Console.dll
WebForm/Bin/roslyn/System.Collections.Immutable.dll.refresh
WebForm/Bin/roslyn/System.Collections.Immutable.dll
WebForm/Bin/roslyn/System.AppContext.dll.refresh
WebForm/Bin/roslyn/System.AppContext.dll
WebForm/Bin/roslyn/Microsoft.VisualBasic.Core.targets
WebForm/Bin/roslyn/Microsoft.Managed.Core.targets
WebForm/Bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll.refresh
WebForm/Bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
WebForm/Bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll.refresh
WebForm/Bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
WebForm/Bin/roslyn/Microsoft.CodeAnalysis.dll.refresh
WebForm/Bin/roslyn/Microsoft.CodeAnalysis.dll
WebForm/Bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll.refresh
WebForm/Bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
.vs/WebForm/FileContentIndex/22a744c0-ce22-4548-be92-93cd31b28ee5.vsidx
*.vsidx
